.title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}
.content1{

        display: flex;
        flex-direction: column;
        align-items: center; /* Centers content horizontally */
        justify-content: center; /* Centers content vertically */
        text-align: center; /* Centers text inside the elements */
        
}

.content2{

    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
    text-align: center; /* Centers text inside the elements */
    
}

.content3{

    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
    text-align: center; /* Centers text inside the elements */
    
}